body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

/* PAGE CENTER */
.wizard-wrapper {
  min-height: 100vh;
  background: #f3f6fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

/* HEADER */
.wizard-header {
  width: 850px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* CARD */
.wizard-card {
  width: 850px;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.08);
}

/* STEPPER */
.stepper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.circle.active {
  background: #2563eb;
  color: white;
}

.bar {
  flex: 1;
  height: 2px;
  background: #e5e7eb;
}

/* TITLE */
.title {
  margin-bottom: 20px;
}

/* INPUTS */
input,
select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}

/* GRID */
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

/* BUTTONS */
.primary-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.secondary-btn {
  background: #e5e7eb;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.button-row {
  display: flex;
  justify-content: space-between;
}

/* ERROR */
.error {
  color: red;
  margin-bottom: 10px;
}